<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="{iMicms::STATICS}/vhouse/wap/review.css" media="all">
<link rel="stylesheet" type="text/css" href="{iMicms::STATICS}/vhouse/wap/back.css" media="all">
<script type="text/javascript" src="{iMicms::STATICS}/vhouse/wap/share.js"></script>
<script type="text/javascript" src="{iMicms::STATICS}/vhouse/wap/common.js"></script>
<script type="text/javascript" src="{iMicms::STATICS}/vhouse/wap/review.js"></script>
<title>房友印象</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
        <meta name="Keywords" content="微信营销、微信代运营、微信定制开发、微信托管、微网站、微商城、微营销" />
        <meta name="Description" content="国内最大的微信公众智能服务平台，八大微体系：微菜单、微官网、微会员、微活动、微商城、微推送、微服务、微统计，艾米微管家-企业微营销必备。" />
        <!-- Mobile Devices Support @begin -->
            <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
            <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
            <meta content="no-cache" http-equiv="pragma">
            <meta content="0" http-equiv="expires">
            <meta content="telephone=no, address=no" name="format-detection">
            <meta content="width=device-width, initial-scale=1.0" name="viewport">
            <meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
            <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <!-- Mobile Devices Support @end -->
    </head>
    <body onselectstart="return true;" ondragstart="return false;">
        <style type="text/css">
	.review_man h3{font-size:18px;}
	#impress a{
		overflow:hidden;
	}
	.review_man h3{font-size:18px;}
	.is_1 a[style*='flex:0'], .is_2 a[style*='flex:0']{
		display:none;
	}
</style>

<div class="wrapper">
	<!-- start -->
		<ul class="nav_top" id="navTop" style="display:none;">
			<li><a href="javascript:void(0);" onclick="REVIEW.switchPanel(0);return false;" class="current">房友印象</a></li>
			<li><a href="javascript:void(0);" onclick="REVIEW.switchPanel(1);return false;">专家点评</a></li>
		</ul>
	<!-- end -->
	<div id="impress" class="impress"></div>
	<div id="professional" style="display:none;"></div>
</div>
<div class="pop_tips" id="popTips" style="display:none;">
	<div class="pop_show">
		<h4>我的楼盘印象是</h4>
		<div class="pop_info">
			<input type="hidden" id="reviewId" value="0" />
			<input id="inputImpress" maxlength="4" type="text" class="input_impress" placeholder="输入四个字的楼盘印象" />
		</div>
		<div class="pop_btns">
			<a href="javascript:void(0);" onclick="REVIEW.closePop();">取消</a>
			<a href="javascript:void(0);" id="popConfirmBtn" class="out">确定</a>
		</div>
	</div>
</div>
<div class="pop_tips" id="noticeDiv" style="display:none;">
	<div class="oval"></div>
	<div class="pop_show">
		<h4 id="tipsTitle">温馨提示</h4>
		<div class="pop_info" id="tipsMsg">
			<p>请输入四个字的中文描述</p>
		</div>
		<div class="pop_btns">
			<a href="javascript:;" id="noticeBtn">确定</a>
		</div>
	</div>
</div>
<div id="popFail" style="">
	<div class="bk"></div>
	<div class="cont">
		<img src="./tpl/Wap/default/common/images/load.gif" alt="loading...">
		正在加载...
	</div>
</div>
<div class="pop_mask" id="popMask" style="display:none;"></div>
<script type="text/template" id="reviewTpl">
	<h3>选择或添加您的楼盘印象</h3>
	<div class="is_1">
		<a href="javascript:void(0);" onclick="REVIEW.addReview(<%=top[0].id%>,'<%=top[0].content%>','is_11');" class="is_11" style="-webkit-box-flex:<%=top[0].count%>;">
			<span><%=top[0].content%> <%=top[0].count%>%</span>
		</a><!--  每一个-webkit-box-flex的值为百分比 -->
		<div class="is_12" style="-webkit-box-flex:<%=top[1].count+top[2].count%>;"><!--  这里-webkit-box-flex的值为is_12_1和is_12_2的百分比相加 -->
			<a href="javascript:void(0);" onclick="REVIEW.addReview(<%=top[1].id%>,'<%=top[1].content%>','is_12_1');" class="is_12_1" style="-webkit-box-flex:<%=top[1].count%>;">
				<span><%=top[1].content%> <%=top[1].count%>%</span>
			</a>
			<a href="javascript:void(0);" onclick="REVIEW.addReview(<%=top[2].id%>,'<%=top[2].content%>','is_12_2');" class="is_12_2" style="-webkit-box-flex:<%=top[2].count%>;">
				<span><%=top[2].content%> <%=top[2].count%>%</span>
			</a>
		</div>
	</div>
	<div class="is_2">
		<a href="javascript:void(0);" onclick="REVIEW.addReview(<%=top[3].id%>,'<%=top[3].content%>','is_21');" class="is_21" style="-webkit-box-flex:<%=top[3].count%>;">
			<span><%=top[3].content%> <%=top[3].count%>%</span>
		</a>
		<a href="javascript:void(0);" onclick="REVIEW.addReview(<%=top[4].id%>,'<%=top[4].content%>','is_22');" class="is_22" style="-webkit-box-flex:<%=top[4].count%>;">
			<span><%=top[4].content%> <%=top[4].count%>%</span>
		</a>
		<a href="javascript:void(0);" onclick="REVIEW.addReview(<%=top[5].id%>,'<%=top[5].content%>','is_23');" class="is_23" style="-webkit-box-flex:<%=top[5].count%>;">
			<span><%=top[5].content%> <%=top[5].count%>%</span>
		</a>
		<%if(user.id == -1){%>
			<a href="javascript:void(0);" id="userReview" onclick="REVIEW.addReview(0,'','is_24');" class="is_24" style="-webkit-box-flex:4;">
				<em>添加<br />我的印象</em>
			</a>
		<% } else if(user.count<1) { %>
			<a href="javascript:void(0);" id="userReview" onclick="REVIEW.addReview(<%=user.id%>,'<%=user.content%>','is_25');" class="is_25" style="-webkit-box-flex:4;">
				<em>我的楼盘印象<i><%=user.content%></i>印象很独特哦</em>
			</a>
		<% } else { %>
			<a href="javascript:void(0);" id="userReview" onclick="REVIEW.addReview(0,'','is_24');" class="is_25" style="-webkit-box-flex:<%=user.count%>;">
				<em>我的楼盘印象<i><%=user.content%></i>与<%=user.count%>%房友相同</em>
			</a>
		<% } %>
	</div>
</script>
<script type="text/template" id="template">
	<%for(var i=0,il=data.length;i<il;i++){%>
		<div class="review_box">
			<div class="review_man"> <img src="<%=data[i].photo%>" width="70" height="70" style="width:70px!important; height:70px!important; " alt="" />
				<h3><%=data[i].name%><em><br/><%=data[i].title%></em></h3>
				<p><%=data[i].intro%></p>
			</div>
			<div class="review_word">
				<h2><%=data[i].reviewTitle%></h2>
				<p><%=data[i].reviewDesc%></p>
			</div>
		</div>
	<% } %>
</script>

<script>
var PID = 2356;
var WECHATID = 'o8ViLjqXXdEbCHRGmquQb7L19-T0';
</script>

<a href="javascript:history.go(-1);" class="back360" style="">&nbsp;</a>        		<div mark="stat_code" style="width:0px; height:0px; display:none;">
					</div>
	</body>
</html>